@model Palindrome
@{
    ViewData["Title"] = "Home Page";
}



<form asp-controller="Home" asp-action="Index">
    <div class="row">

        <div class="input-group mb-3">

            <input asp-for="Inputword" class="form-control" placeholder="Enter Any Words" />
            <input id="mirror" type="text" class="form-control" placeholder="Mirror" readonly>
            <span asp-validation-for="Inputword" class="text-danger"></span>
        </div>

    </div>
    <div class="row text-center">
        <div class="col text-center">
            <button type="submit" class="button button-a">Check Palindrome</button>
            <button type="button" id="clearword"  class="button button-a">Clear</button>
        </div>
    </div>
    <br />
    <div class="row">
        <input id="result" class="form-control" readonly placeholder="@Model.Message">
    </div>
</form>
            
        

<br>

